html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .container {
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    

  }   

 


    .titulo, .coment .botones{
      background-color: black;
      color:white;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-family: Ancizar Sans;
        }
    
        
    .formulario{
        background-color: 'black';
        justify-content: center;
        align-items: center;
        text-align: left;
        font-family: Ancizar Sans;
    }
    